<html >
<head›
‹title>Ansible Application‹/title›
</head>
< body>
</br>
‹a href=http://{{ ansible_default_ipv4.address }}/index.html>Homepage</a>
</br>
‹?php
Print "Hello, World! I am a web server configured using Ansible and I am : ";
echo exec ("hostname") ;
Print"</BR>";
?>
</body>
</html >