[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysq_
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
port={{ mysal_port }}
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid